<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>{{- site.description | escape -}}</p>
        {% if page.title != "Gender Construction Kit Blog" %}
        <a href="{{ site.url | replace: '0.0.0.0', '127.0.0.1' }}">Read more posts</a>
        {% endif %}
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p><a href="{{ site.mainurl }}">{{ site.mainurl }}</a></p>
      </div>
    </div>

  </div>

</footer>